.table-view .column-header-background {
    -fx-background-color: linear-gradient(#0113fe 0%, #01033f 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.table-row-cell:odd {
    -fx-background-color: #9899bf;
}

.table-row-cell:even {
    -fx-background-color: #FFFFFF;
}

.table-view .table-cell {
    -fx-text-fill: #010c63;
}

.table-row-cell:selected {
    -fx-background-color: #01aefe;
}

.table-row-cell:selected .text {
    -fx-fill: #ffff00;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-column {
    -fx-alignment: CENTER;
}